:root{
  --gray-color: rgba(168, 168, 168, 0.7);
  --gray-color-card: rgba(168, 168, 168, 0.5);
}

body{
  background-image: url("Assets\4k-forest-7sfd6znw2ry6hnlt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.bg-card-gray{
  background-color: var(--gray-color-card);
  backdrop-filter: blur(2px);
}

.bg-gray{
  background-color: var(--gray-color);
}

.text-gray{
  color: var(--gray-color);
}

.pill{
  border-radius: 30px;
}

#DateTime{
  margin-bottom: 10%;
}

.card-hight{
  height: 300px;
}

.time-date-with{
  max-width: 200px;
}

.btn-color{
  font-weight: bold;
}

.btn-color:hover{
  background-color: rgb(179, 178, 178);
}



@media screen and (max-width: 767px) {
  .col-sm{
    width: 150px;
  }
  #date{
    padding-left: 10px;
  }
}
